body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
}

.header {
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
 rgba(76, 216, 255, 0.8),
 rgba(30, 108, 217, 0.8)),
 url('../images/lend2.jpeg');
  
background-size: cover;
  background-position: top;
  position: relative;


}

  
  
  .topnav {
    overflow: hidden;
    background-color: transparent !important; /* Set background color to transparent */
    border-bottom: none; /* Remove the border if needed */
 

    padding: 8px;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #2968b1;
    color: rgb(255, 255, 255);
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button2 {background-color: #008CBA;} /* Blue */